body{
    background-image: url(../imagenes/escapaste.png);
    background-repeat: no-repeat;
}

h1{
    font-family: "Goblin One", serif;
    color: red;
    font-size: 20px;
    position: absolute;
    top: 100px;
    right: 10px;
    text-align: center;
    
}

p{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 700px;
    border-radius: 5px;
    border: solid 1px black;
    padding: 10px;
    background-color: red;
}

a{
    text-decoration: none;
    color: white;
    font-size: xx-large;
}