body {
    background-color: #385370;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
}

.boton-volver{
    background-color: #333;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 1rem;
}


h1{
    color: white;
}

.calculadora {
    background-color: #2E4446;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#pantalla {
    width: 100%;
    color: black;
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.2s;
}

.rojo{
    background-color: rgb(189, 25, 25);
}

.rojo:hover{
    background-color: rgb(139, 58, 58);
}

button:hover {
    background-color: lightblue;
}



button.cero {
    grid-column: span 2;
}
